@font-face {
  font-family: "glitch";
  src: url(VT323-Regular.woff) format("woff");
}

.demo-2 {
	--color-text: #000;
	--color-bg: #a99894;
	--color-link: #7f746d;
	--color-link-hover: #000;
	--color-tagline: #fff;
	overflow: hidden;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: glitch;
  font-size: 1.5rem;
  color: #f4f4f4;
  /*line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.05rem 0 0.06rem #75fa69;
       letter-spacing: 0.525em;
       animation-duration: 0.1s;
       animation-name: textflicker;
       animation-iteration-count: 69;
       animation-direction: alternate;*/
}

html,
body {
  background-image: url("https://media0.giphy.com/media/5BYCbzhKPrjHCHBezb/giphy.gif?cid=ecf05e47cv1rdmpd3vcufth7uvuc0urmbxq47bnl5qjen1ea&rid=giphy.gif&ct=g");
  /*background-color: black;*/
  cursor: none;
  background-size: 1980px 1080px;
  overflow: hidden;
}

canvas {
  position: absolute;
  z-index: -2;
}

.cursor
{
  position: absolute;
  z-index: 1;
  pointer-events: none;
width: 100px;
height: 50px;

background-image: url(images/eye2.gif);
background-size: auto;
background-repeat: no-repeat;
}

main {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}



ul {
  position: absolute;
  left: 7%;
  top: 30%;
  height: 60%;
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

ul li {
  position: relative;
  cursor: none;
  transition: 1s;
}

ul li:hover {
  opacity: 1 !important;
}

#body {
  cursor   : none;
  
}